/*@font-face {*/
/*    src: url("fonts/NotoSans.ttf");*/
/*}*/

.classic-pane {
    -fx-background-color: white;
}

.control-button {
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}
.control-button:hover {
    -fx-background-color: #e1e2e3;
}
.control-button:selected {
    -fx-background-color: #dbdcdd;
}

.box {
    -fx-background-color: white;
}

.blue-button {
    -fx-background-color: #2770e6;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-text-fill: white;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.blue-button:hover {
    -fx-background-color: #2466d1;
}

.gray-button {
    -fx-background-color: #d3d5d8;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-text-fill: black;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.gray-button:hover {
    -fx-background-color: #bdc1c7;
}
.gray-button:selected {
    -fx-background-color: #bdc1c7;
}

.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
}

.accordion .titled-pane > *.content {
    -fx-border-width: 0px;
}
.accordion .titled-pane > .title {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d3d5d8;
}
.accordion .titled-pane > .title:hover {
    -fx-background-color: #d3d5d8;
}
.accordion .titled-pane > .title:focused {
    -fx-background-color: #d3d5d8;
}
.accordion .titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: transparent;
}
.accordion .titled-pane>.title>.arrow-button>.arrow:focused {
    -fx-background-color: transparent;
}

.border-vbox {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d3d5d8;
}

.select-button {
    -fx-background-color: #e3e1dc;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.select-button:hover {
    -fx-background-color: #c2c0bc;
}

.blue-button:disabled {
    -fx-background-color: #a7abb0;
}

.border-button {
    -fx-background-color: transparent;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #131314;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.border-button:hover {
    -fx-background-color: #e1e2e3;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar:vertical {
    -fx-background-color: white;
    -fx-font-size: 10;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
}
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #a7abb0;
    -fx-background-radius: 10;
}

.scroll-pane {
    -fx-background: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #a7abb0;
    -fx-border-radius: 5;
}

.menu-button {
    -fx-background-color: white;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.menu-button .context-menu {
    -fx-effect: null;
    -fx-border-color: #a7abb0;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: #a7abb0;
}

.menu-button:focused > .arrow-button > .arrow {
    -fx-background-color: #131314;
}

.choice-box {
    -fx-background-color: white;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
    -fx-border-color: #a7abb0;
    -fx-border-radius: 10;
}
.choice-box .label {
    -fx-alignment: center-left;
    -fx-padding: 0 20 0 5;
}
.choice-box:focused {
    -fx-border-color: #131314;
}
.choice-box:focused .arrow {
    -fx-background-color: #131314;
}

.choice-box .context-menu {
    -fx-effect: null;
    -fx-border-color: #a7abb0;
    -fx-border-radius: 10;
    -fx-background-color: white;
}
.choice-box .arrow {
    -fx-background-color: #a7abb0;
}

.choice-box .left-container .radio { -fx-opacity: 0; }

.menu-item > .label {
    -fx-text-fill: #131314;
}
.menu-item:focused,
.menu-item:hover{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #e1e2e3;
    -fx-background-insets: 0;
}

.fake-menu-item > .label {
    -fx-text-fill: #131314;
}
.fake-menu-item {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-insets: 0;
}
.fake-menu-item:hover,
.fake-menu-item:focused{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-text-fill: #2466d1;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}

.text-field {
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: #bdc1c7;
    -fx-text-fill: #131314;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}
.text-field:focused { //NOSONAR
    -fx-border-color: #131314;
}

.spinner {
    -fx-background-color: white;
    -fx-border-color: #bdc1c7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 0 10 0 0;
    -fx-font-family: Noto Sans;
    -fx-font-size: 13;
}
.spinner:focused {
    -fx-border-color: #131314;
}

.spinner .increment-arrow-button ,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 2 0 2 0;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #bdc1c7;
}

.spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-color: #131314;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
}

.date-picker {
    -fx-background-color: white;
}

.date-picker > .arrow-button {
    -fx-background-color: white;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: #bdc1c7;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
.date-picker:focused > .arrow-button > .arrow {
    -fx-background-color: #131314;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
.date-picker-popup {
    -fx-border-color: #a7abb0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
}

.date-picker-popup > .month-year-pane {
    -fx-base: white ;
    -fx-mark-highlight-color: #e1e2e3 ;
}
.calendar-grid {
    -fx-background-color: white;
}

.logo {
    -fx-font-family: Noto Sans;
    -fx-font-size: 36;
}

.text {
    -fx-font-family: Noto Sans;
    -fx-font-size: 14;
}
.big-text {
    -fx-font-family: Noto Sans;
    -fx-font-size: 48;
}

.label .text {
    -fx-font-family: Noto Sans;
    -fx-font-size: 16;
}

.accordion-label .text {
    -fx-font-family: Noto Sans;
    -fx-font-size: 16;
}






